
/**
 * Missing emoji css
 * Support by Nariman Haghighi <auspicious@gmail.com>
 */

.emoji1f46c { background-position: -220px -360px; }
.emoji1f46d { background-position: -220px -380px; }
.emoji1f332 { background-position: -40px -580px; }
.emoji1f333 { background-position: -60px 0; }
.emoji1f34b { background-position: -60px -460px; }
.emoji1f60e { background-position: -380px -520px; }
