
/**
 * Missing emoji css
 * Support by Nariman Haghighi <auspicious@gmail.com>
 */

.emoji1f46c { background-position: -220px -360px; }
.emoji1f46d { background-position: -220px -380px; }
.emoji1f332 { background-position: -40px -580px; }
.emoji1f333 { background-position: -60px 0; }
.emoji1f34b { background-position: -60px -460px; }
.emoji1f60e { background-position: -380px -520px; }

/**
* More missing emoji css
* By pachtymichuk
*/
.emoji1f40a { background-position: -160px -240px; }
.emoji1f40b { background-position: -160px -260px; }
.emoji1f409 { background-position: -160px -220px; }
.emoji1f408 { background-position: -160px -200px; }
.emoji1f407 { background-position: -160px -180px; }
.emoji1f406 { background-position: -160px -160px; }
.emoji1f406 { background-position: -160px -160px; }
.emoji1f405 { background-position: -160px -140px; }
.emoji1f404 { background-position: -160px -120px; }
.emoji1f403 { background-position: -160px -100px; }
.emoji1f402 { background-position: -160px -80px; }
.emoji1f401 { background-position: -160px -60px; }
.emoji1f400 { background-position: -160px -40px; }
.emoji1f400 { background-position: -160px -40px; }

.emoji1f3c9 { background-position: -140px -260px; }
.emoji1f37c { background-position: -100px -240px; }
.emoji1f350 { background-position: -60px -560px; }

.emoji1f31e { background-position: -40px -500px; }
.emoji1f31d { background-position: -40px -480px; }
.emoji1f31c { background-position: -40px -460px; }
.emoji1f31a { background-position: -40px -420px; }

.emoji1f318 { background-position: -40px -380px ; }
.emoji1f317 { background-position: -40px -360px ; }
.emoji1f316 { background-position: -40px -340px ; }
.emoji1f312 { background-position: -40px -260px ; }
.emoji1f310 { background-position: -40px -220px ; }

.emoji1f30e { background-position: -40px -180px; }
.emoji1f30d { background-position: -40px -160px; }

.emoji1f3e4 { background-position: -140px -380px; }
.emoji1f40f { background-position: -160px -340px; }

.emoji1f410 { background-position: -160px -360px; }
.emoji1f413 { background-position: -160px -420px; }
.emoji1f415 { background-position: -160px -460px; }
.emoji1f416 { background-position: -160px -480px; }

.emoji1f42a { background-position: -180px -280px; }
.emoji1f465 { background-position: -220px -220px; }
.emoji1f4ad { background-position: -260px -460px; }
.emoji1f4b6 { background-position: -280px -40px; }
.emoji1f4b7 { background-position: -280px -60px; }
.emoji1f4ec { background-position: -300px -520px; }
.emoji1f4ed { background-position: -300px -540px; }
.emoji1f4ef { background-position: -300px -580px; }

.emoji1f4f5 { background-position: -320px -100px; }

.emoji1f500 { background-position: -320px -240px; }
.emoji1f501 { background-position: -320px -260px; }
.emoji1f502 { background-position: -320px -280px; }
.emoji1f503 { background-position: -320px -300px; }
.emoji1f504 { background-position: -320px -320px; }
.emoji1f505 { background-position: -320px -340px; }
.emoji1f506 { background-position: -320px -360px; }
.emoji1f507 { background-position: -320px -380px; }
.emoji1f509 { background-position: -320px -400px; }
.emoji1f515 { background-position: -340px -40px; }
.emoji1f52c { background-position: -340px -500px; }
.emoji1f52d { background-position: -340px -520px; }

.emoji1f55c { background-position: -360px -500px; }
.emoji1f55d { background-position: -360px -520px; }
.emoji1f55e { background-position: -360px -540px; }
.emoji1f55f { background-position: -360px -560px; }

.emoji1f560 { background-position: -360px -580px; }
.emoji1f561 { background-position: -380px 0; }
.emoji1f562 { background-position: -380px -20px; }
.emoji1f563 { background-position: -380px -40px; }
.emoji1f564 { background-position: -380px -60px; }
.emoji1f565 { background-position: -380px -80px; }
.emoji1f566 { background-position: -380px -100px; }
.emoji1f567 { background-position: -380px -120px; }

.emoji1f3c7 { background-position: -140px -220px; }
.emoji1f600 { background-position: -380px -240px; }
.emoji1f607 { background-position: -380px -380px; }
.emoji1f608 { background-position: -380px -400px; }
.emoji1f610 { background-position: -380px -560px; }
.emoji1f611 { background-position: -380px -580px; }
.emoji1f615 { background-position: -400px -60px; }
.emoji1f617 { background-position: -400px -100px; }
.emoji1f61b { background-position: -400px -180px; }
.emoji1f61f { background-position: -400px -260px; }
.emoji1f626 { background-position: -400px -400px; }
.emoji1f627 { background-position: -400px -420px; }
.emoji1f62c { background-position: -400px -520px; }
.emoji1f62e { background-position: -400px -560px; }
.emoji1f62f { background-position: -400px -580px; }
.emoji1f634 { background-position: -420px -80px; }
.emoji1f636 { background-position: -420px -120px; }

.emoji1f681 { background-position: -420px -580px; }
.emoji1f682 { background-position: -440px 0; }
.emoji1f686 { background-position: -440px -80px; }
.emoji1f688 { background-position: -440px -120px; }
.emoji1f68d { background-position: -440px -200px; }
.emoji1f68e { background-position: -440px -220px; }
.emoji1f690 { background-position: -440px -260px; }
.emoji1f694 { background-position: -440px -340px; }
.emoji1f696 { background-position: -440px -380px; }
.emoji1f698 { background-position: -440px -420px; }
.emoji1f69b { background-position: -440px -480px; }
.emoji1f69c { background-position: -440px -500px; }
.emoji1f69d { background-position: -440px -520px; }
.emoji1f69e { background-position: -440px -540px; }
.emoji1f69f { background-position: -440px -560px; }
.emoji1f6a0 { background-position: -440px -580px; }
.emoji1f6a1 { background-position: -460px 0; }
.emoji1f6a3 { background-position: -460px -40px; }
.emoji1f6a6 { background-position: -460px -100px; }
.emoji1f6ae { background-position: -460px -260px; }
.emoji1f6af { background-position: -460px -280px; }
.emoji1f6b0 { background-position: -460px -300px; }
.emoji1f6b1 { background-position: -460px -320px; }

.emoji1f6b3 { background-position: -460px -360px; }
.emoji1f6b4 { background-position: -460px -380px; }
.emoji1f6b5 { background-position: -460px -400px; }
.emoji1f6b7 { background-position: -460px -440px; }
.emoji1f6b8 { background-position: -460px -460px; }
.emoji1f6bf { background-position: -480px -40px; }

.emoji1f6c1 { background-position: -480px -40px; }
.emoji1f6c2 { background-position: -480px -60px; }
.emoji1f6c3 { background-position: -480px -80px; }
.emoji1f6c4 { background-position: -480px -100px; }
.emoji1f6c5 { background-position: -480px -120px; }

.emoji1f619 { background-position: -400px -140px;}
.emoji1f68a { background-position: -440px -160px;}
